fastapi>=0.100.0
uvicorn[standard]>=0.22.0
python-multipart>=0.0.6
MDAnalysis>=2.5.0
numpy<2.0.0
scipy>=1.10.0
pydantic>=2.0
httpx>=0.20.0
pdb2pqr==3.7.1
openmm>=8.0.0
mdtraj>=1.11.0
celery>=5.6.0
redis>=7.0.0
# pdb2pqr requires docutils<0.18
docutils<0.18
